/* line 2, ../scss/layout/_header.scss */
header .fixed.menu {
  border-radius: 0;
}
/* line 5, ../scss/layout/_header.scss */
header #mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  /* line 12, ../scss/layout/_header.scss */
  header #mobile {
    display: block;
  }
  /* line 15, ../scss/layout/_header.scss */
  header .not-mobile {
    display: none !important;
  }
}
/* line 1, ../scss/pages/_homepage.scss */
body, *:not(i) {
  font-family: 'Sen', sans-serif !important;
}

/* line 5, ../scss/pages/_homepage.scss */
ul, ol {
  list-style: none;
  padding: 0;
}

/* line 10, ../scss/pages/_homepage.scss */
section {
  padding: 50px 0;
}
/* line 12, ../scss/pages/_homepage.scss */
section:not(:last-of-type) {
  padding-bottom: 40px;
}
/* line 15, ../scss/pages/_homepage.scss */
section:first-of-type {
  margin-top: 50px;
}
/* line 18, ../scss/pages/_homepage.scss */
section .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 22, ../scss/pages/_homepage.scss */
section .flex .image-box {
  max-width: 500px;
  margin: 1% 1%;
  position: relative;
  flex-grow: 1;
}
/* line 28, ../scss/pages/_homepage.scss */
section .flex .image-box img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* line 36, ../scss/pages/_homepage.scss */
section .flex .image-box .overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* line 47, ../scss/pages/_homepage.scss */
section .flex .image-box:hover .image {
  opacity: 0.3;
}
/* line 50, ../scss/pages/_homepage.scss */
section .flex .image-box:hover .overlay {
  opacity: 1;
}

/* line 60, ../scss/pages/_homepage.scss */
section.source .cards .card {
  min-width: 260px;
}

/* line 66, ../scss/pages/_homepage.scss */
section.cont {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
/* line 72, ../scss/pages/_homepage.scss */
section.cont.contributers ul li {
  margin: 5px 0;
}
/* line 79, ../scss/pages/_homepage.scss */
section.cont.contribute .ui.icons button {
  transition: all .5s;
}
/* line 81, ../scss/pages/_homepage.scss */
section.cont.contribute .ui.icons button.github {
  color: white;
  background-color: #24292e;
}
/* line 85, ../scss/pages/_homepage.scss */
section.cont.contribute .ui.icons button:hover {
  transform: scale(1.09);
}

/* line 100, ../scss/pages/_homepage.scss */
.svg {
  width: 100px;
  padding: 50px;
}

/* line 105, ../scss/pages/_homepage.scss */
.icons a {
  padding-left: 15px;
  font-size: medium;
}

/* line 111, ../scss/pages/_homepage.scss */
.about .image {
  margin: 10px;
}
/* line 114, ../scss/pages/_homepage.scss */
.about .content {
  padding-right: 1.5em !important;
}
/* line 117, ../scss/pages/_homepage.scss */
.about .content .description p {
  font-size: 16px;
  font-weight: 500;
}

/* line 124, ../scss/pages/_homepage.scss */
.profile {
  border-radius: 50% !important;
}

/* line 129, ../scss/pages/_homepage.scss */
.contribute {
  background-color: #131313;
  color: white !important;
}

/* line 133, ../scss/pages/_homepage.scss */
.contributers {
  background-color: #2e2e2e;
  color: white;
}

/* line 137, ../scss/pages/_homepage.scss */
.white-text {
  color: white !important;
}

/* line 140, ../scss/pages/_homepage.scss */
.about {
  background-color: #ffd29e;
}

/* line 143, ../scss/pages/_homepage.scss */
.source {
  background-color: #dadada;
  color: white;
}

/* line 149, ../scss/pages/_homepage.scss */
button#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  box-shadow: 0px 0px 15px 0px #000000a8;
  display: none;
}
