/* line 2, ../scss/layout/_header.scss */
header .fixed.menu {
  border-radius: 0;
}

/* line 1, ../scss/pages/_homepage.scss */
body {
  height: 500vh;
  color: #777;
}

/* line 6, ../scss/pages/_homepage.scss */
section {
  height: 700px;
  max-height: 100vh;
}
/* line 9, ../scss/pages/_homepage.scss */
section:not(:last-of-type) {
  margin-bottom: 40px;
  border-bottom: 2px solid #777;
}
/* line 13, ../scss/pages/_homepage.scss */
section:first-of-type {
  margin-top: 80px;
}
/* line 16, ../scss/pages/_homepage.scss */
section .image-box {
  width: 50%;
  margin: auto;
  position: relative;
}
/* line 20, ../scss/pages/_homepage.scss */
section .image-box img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* line 28, ../scss/pages/_homepage.scss */
section .image-box .overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* line 39, ../scss/pages/_homepage.scss */
section .image-box:hover .image {
  opacity: 0.3;
}
/* line 42, ../scss/pages/_homepage.scss */
section .image-box:hover .overlay {
  opacity: 1;
}



.svg{
  width: 100px;
  padding: 50px;
}

.icons a{
  padding-left: 15px;
  font-size: medium;
  color: #777;
}
.icons a:hover{
 
  color: #fff;
}
.profile{
  border-radius: 50%;
  width: 150px;
  display: inline;
  float: left;
  margin-right: 30px;
}