body{
    height: 500vh;
    color: $grayColor;
}
// Start sections
section{
    
    &:not(:last-of-type){
        margin-bottom: 40px;
        border-bottom: 2px solid $grayColor;
    }
    &:first-of-type{
        margin-top: 80px;
    }
    .image-box{
        width: 50%;
        margin: auto;
        position: relative;
        img{
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .overlay{
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        &:hover {
            .image{
                opacity: 0.3;
            }
            .overlay{
                opacity: 1;
            }
        }
    }
}
// End sections





//tkharbiq diali

.svg{
    width: 100px;
    padding: 50px;
  }
  
  .icons a{
    padding-left: 15px;
    font-size: medium;
    color: #777;
  }
  .icons a:hover{
   
    color: #fff;
  }
  .image{
      margin: 10px;
  }