body{
    color: $grayColor;
}
ul,ol{
    list-style: none;
    padding: 0;
}
// Start sections
section{
    padding: 50px 0;
    &:not(:last-of-type){
        padding-bottom: 40px;
    }
    &:first-of-type{
        margin-top: 50px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .image-box{
            // max-width: 500px;
            max-width: 500px;
            margin: 1% 1%;
            position: relative;
            flex-grow: 1;
            img{
                opacity: 1;
                display: block;
                width: 100%;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
            }
            .overlay{
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            }
            &:hover {
                .image{
                    opacity: 0.3;
                }
                .overlay{
                    opacity: 1;
                }
            }
        }
    }
}

section.source{
    .cards{
        .card{
            min-width: 260px;
        }
    }
}

section.cont{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    &.contributers{
        ul{
            li{
                margin: 5px 0;
            }
        }
    }
    &.contribute{
        .ui.icons{
            button{
                transition: all .5s;
                &.github{
                    color: white;
                    background-color: #24292e;
                }
                &:hover{
                    transform: scale(1.09);
                }
            }
        }
    }
}
// End sections





//tkharbiq diali

.svg{
    width: 100px;
    padding: 50px;
    }

    .icons a {
        padding-left: 15px;
        font-size: medium;
    }

    .about{
        .image {
            margin: 10px;
        }
    }
    .profile{
        border-radius: 50% !important;
        
    }

    .contribute{
        background-color: rgb(19, 19, 19);
        color: white !important;
    }
    .contributers{
        background-color: rgb(46, 46, 46);
        color: white;
    }
    .white-text{
        color: white !important;
    }
.about{
    background-color: rgb(255, 210, 158);
}
.source{

    background-color: rgb(218, 218, 218);
    color: white;
}